@import '~bulma/bulma';

// $fa-font-path resolve problem with loaders in webpack
$fa-font-path: '~font-awesome/fonts';
@import '~font-awesome/scss/font-awesome';

.move-enter-active, .move-leave-active{
    transform: translateX(0);
    transition: all .3s linear;
}

.move-enter, .move-leave-to {
    transform: translateX(100%);
}
